<!DOCTYPE html
          PUBLIC '-//W3C//DTD XHTML 1.0 Transitional//EN' 'http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd'>
<!doctype html>
<html xmlns='http://www.w3.org/1999/xhtml'>

<head>
  <meta http-equiv='Content-Type'
        content='text/html; charset=UTF-8' />
  <title>Invoice from RLI Insurance</title>
</head>

<body leftmargin='0'
      topmargin='0'
      marginwidth='0'
      marginheight='0'
      style='font-family: Arial'>
  <table width='100%'
         border='0'
         cellpadding='0'
         cellspacing='0'
         style='margin:0 auto;'>
    <tr>
      <td style='font-size: 12px;   font-weight: normal; text-align: left; font-family: Arial; line-height: 24px; vertical-align: top; padding: 10px 0px 10px'
          <p
          style='margin: 0px;'>Dear Valued Customer,</p><br>
        <p style='margin: 0px;'>Please see attached billing document.</p><br>
        <p style='margin: 0px;'>Sincerely,</p>
        <p style='margin: 0px;'>The RLI Billing Department</p>
        <p style='margin: 0px;'>Phone: 866-216-8009</p>
        <p style='margin: 0px;'><a href='mailto:Billing@rlicorp.com'>Billing@rlicorp.com</a></p>
      </td>
    </tr>
    <tr>
      <td><img src='https://www.rlicorp.com/sites/default/files/logo.png'
             alt='RLI'
             height='69'
             width='150'></td>
    </tr>
    <tr>
      <td
          style='font-size: 12px;  font-weight: normal; font-style: italic; text-align: left; font-family: Arial; line-height: 16px; vertical-align: top; padding: 20px 0px'>
        <p><i>
            <nowrap>This email and any attachments are confidential, and may not be viewed, copied, distributed or used
              in any manner by persons other than the intended recipient.</nowrap>
          </i></p>
        <p><i>
            <nowrap>If you are not the intended recipient, please delete this email and attachments, and notify the
              sender. Thank you.</nowrap>
          </i></p>
      </td>
    </tr>
  </table>
</body>

</html>
